html {
    position: relative;
}

.nx-overlay {
    position: absolute;
    inset: 0;
    pointer-events: none;
    overflow: hidden;
    font-family: 'Adobe Clean';
}

.nx-label {
    position: fixed;
    left: 8px;
    bottom: 8px;
    min-width: 100px;
    z-index: 1000;
}

.nx-label ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nx-label li {
    padding: 2px 8px;
    border-radius: 8px;
    background-color: rgb(77, 123, 255);
    color: #fff;
    margin-top: 6px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
}

.nx-buttons {
    position: fixed;
    right: 8px;
    bottom: 8px;
    z-index: 10000;
    border: 12px solid transparent;
    pointer-events: all;
}

.nx-buttons button,
.nx-image-overlay button {
    background: rgb(77, 123, 255);
    color: rgb(255, 255, 255);
    border-radius: 100px;
    border: 1px solid rgb(77, 123, 255);
    line-height: 16px;
    padding: 5px;
    box-shadow: unset;
}

.nx-buttons button {
    margin-left: 4px;
}

.nx-buttons button:hover,
.nx-buttons button:focus,
.nx-image-overlay button:hover,
.nx-image-overlay button:focus {
    border-color: #fff;
}

.nx-buttons button:disabled,
.nx-image-overlay button:disabled {
    opacity: 0.5;
    pointer-events: none;
}

.nx-buttons button .nx-icon,
.nx-image-overlay button .nx-icon {
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: block;
    width: 22px;
    height: 22px;
}

.nx-buttons button .nx-save-icon {
    background: url(/icons/Smock_Send_18_N.svg) center center / 22px no-repeat;
}

.nx-buttons button .nx-close-icon {
    background: url(/icons/Smock_Close_18_N.svg) center center / 22px no-repeat;
}

.nx-buttons button .is-saving {
    animation: animated-background 1s linear infinite;
}

@keyframes animated-background {
    from {
        left: -22px;
        bottom: -22px;
    }

    to {
        left: 22px;
        bottom: 22px;
    }
}

[data-edit]:focus-visible {
    outline: none;
}

[data-edit]:not(img).is-active-edit {
    border: 1px solid #4d7bff;
}

[data-edit].is-editable {
    background: oklch(0.97 0.014 254.604);
}

/* Light grey overlay for active images */
img[data-edit].is-editable,
img[data-edit].is-active-edit {
    filter: blur(1px) grayscale(0.5) brightness(0.97);
    transition: filter 0.1s cubic-bezier(0.4, 0, 0.2, 1);
    background: oklch(0.97 0.014 254.604);
    position: relative;
    z-index: 1;
}

/* Overlay icon container */
img[data-edit].is-active-edit+.nx-image-overlay {
    position: absolute;
    background: rgba(200, 200, 200, 0.7);
    z-index: 3;
    display: flex;
    gap: 20px;
    width: 150px;
    height: 80px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
}

/* Overlay icon */
.nx-image-overlay .nx-image-icon {
    background-image: url('/icons/Smock_Image_18_N.svg');
}

.nx-image-overlay .nx-image-delete-icon {
    background-image: url('/icons/Smock_Delete_18_N.svg');
}

.nx-image-overlay .nx-image-alt-icon {
    background-image: url('/icons/Smock_ImageText_18_N.svg');
}