/* stylelint-disable no-descending-specificity */

/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */
:root {
  --background-color: white;
  --light-color: #f8f8f8;
  --dark-color: #505050;
  --text-color: #131313;
  --link-color: #3b63fb;
  --link-hover-color: #1d3ecf;
  --body-font-family: "Instrument Sans", "Instrument Sans Fallback", "sans-serif";
  --heading-font-family: "Syncopate", "Syncopate Fallback", "sans-serif";
  --body-font-size-m: 22.56px;
  --body-font-size-s: 16px;
  --body-font-size-xs: 11.36px;
  --heading-font-size-xxl: 90.4px;
  --heading-font-size-xl: 45.28px;
  --heading-font-size-l: 22.56px;
  --heading-font-size-m: 22.56px;
  --heading-font-size-s: 16px;
  --heading-font-size-xs: 11.36px;
  --nav-height: 75px;
  --header-height: var(--nav-height);
}

/* fallback fonts */
@font-face {
  font-family:"Instrument Sans Fallback";
  font-style:normal;
  font-weight:400;
  src:local("Arial");
  ascent-override:93.97%;
  descent-override:24.22%;
  line-gap-override:0.00%;
  size-adjust:103.22%;
}

@font-face {
  font-family:"Syncopate Fallback";
  font-style:normal;
  font-weight:400;
  src:local("Arial");
  ascent-override:44.95%;
  descent-override:12.31%;
  line-gap-override:4.33%;
  size-adjust:169.04%;
}

@media (width>=900px) {
  :root {
    --body-font-size-m: 22.56px;
    --body-font-size-s: 16px;
    --body-font-size-xs: 11.36px;
    --heading-font-size-xxl: 90.4px;
    --heading-font-size-xl: 45.28px;
    --heading-font-size-l: 22.56px;
    --heading-font-size-m: 22.56px;
    --heading-font-size-s: 16px;
    --heading-font-size-xs: 11.36px;
    --nav-height: 75px;
  }
}

body {
  display: none;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-m);
  line-height: 1.6;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

header .header, footer .footer {
  visibility: hidden;
}

header .header[data-block-status="loaded"], footer .footer[data-block-status="loaded"] {
  visibility: visible;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.25;
  scroll-margin: 40px;
}

h1 {
  font-size: var(--heading-font-size-xxl);
}

h2 {
  font-size: var(--heading-font-size-xl);
}

h3 {
  font-size: var(--heading-font-size-l);
}

h4 {
  font-size: var(--heading-font-size-m);
}

h5 {
  font-size: var(--heading-font-size-s);
}

h6 {
  font-size: var(--heading-font-size-xs);
}

p, dl, ol, ul, pre, blockquote {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
}

code, pre {
  font-size: var(--body-font-size-s);
}

pre {
  padding: 16px;
  border-radius: 8px;
  background-color: var(--light-color);
  overflow-x: auto;
  white-space: pre;
}

main>div {
  margin: 40px 16px;
}

input, textarea, select, button {
  font: inherit;
}

/* links */
a:any-link {
  color: var(--link-color);
  text-decoration: none;
  overflow-wrap: break-word;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

/* buttons */
a.button:any-link, button, .button, a.button {
  box-sizing: border-box;
  display: inline-block;
  font-family: var(--body-font-family);
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 100rem;
  outline: none;
  background-color: transparent;
  padding: 1em 1.5em;
  color: #000;
  box-shadow: 0 0 0 2px #000 inset, 4px 4px 0#f4fe8b80;
  max-width: 100%;
  margin: 12px 0;
  border: 2px solid transparent;
}

a.button, a.secondary-button {
  display: inline-block;
  background-color: transparent;
}

.button, .secondary-button {
  align-items: center;
  background-color: transparent;
}

/* Custom styles for a.button */
a.button {
  padding: 1em 1.5em;
  box-sizing: border-box;
  font-size: 16px;
  min-width: 120px;
  background-color: transparent;
}

a.button:hover, a.button:focus, button:hover, button:focus {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled, .button:disabled, a.button:disabled {
  opacity: 0.5;
  cursor: unset;
  background-color: var(--light-color);
}

a.button.secondary, button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color);
}

.button-group {
  display: flex;
  justify-content: center;
  column-gap: 8px;
}

/* End button enhancements */
main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections */
main>.section {
  margin: 40px 0;
}

main>.section>div {
  max-width: 1200px;
  margin: auto;
  padding: 0 24px;
}

main>.section:first-of-type {
  margin-top: 0;
}

@media (width>=900px) {
  main>.section>div {
    padding: 0 32px;
  }
}

/* section metadata */
main .section.light, main .section.highlight {
  background-color: var(--light-color);
  margin: 0;
  padding: 40px 0;
}

.section.hidden {
  display: none;
}

.section.section-1 {
  background: rgb(247 248 245) none repeat scroll 0% 0% / auto padding-box border-box;
}

.section.section-2 {
  background: rgb(0 0 0) none repeat scroll 0% 0% / auto padding-box border-box;
}